<a href="https://colab.research.google.com/github/JenBanks8585/COVID-19/blob/master/Jen_Banks_Covid19_exploratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Imports

import pandas as pd
from datetime import datetime

In [0]:
#Reading csv files

confirmed=pd.read_csv('https://raw.githubusercontent.com/JenBanks8585/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
death=pd.read_csv('https://raw.githubusercontent.com/JenBanks8585/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
recovered=pd.read_csv('https://raw.githubusercontent.com/JenBanks8585/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

In [104]:
# Checking shapes, heads, etc

confirmed.shape, death.shape, recovered.shape

((463, 59), (463, 59), (463, 59))

In [76]:
confirmed.head(1)

  Province/State Country/Region   Lat  ...  3/14/20  3/15/20  3/16/20
0            NaN       Thailand  15.0  ...       82      114      147

[1 rows x 59 columns]

In [0]:
#confirmed.isnull().sum()

In [105]:
# Dropping some columns

confirmed_drop= confirmed.drop(['Province/State', 'Lat', 'Long'], axis = 1)
death_drop= death.drop(['Province/State', 'Lat', 'Long'], axis = 1)
recovered_drop= recovered.drop(['Province/State', 'Lat', 'Long'], axis = 1)
confirmed_drop.shape, death_drop.shape, recovered_drop.shape

((463, 56), (463, 56), (463, 56))

In [106]:
# Grouping by country

confirmed_drop_grouped=confirmed_drop.groupby('Country/Region').sum()
death_drop_grouped=death_drop.groupby('Country/Region').sum()
recovered_drop_grouped=recovered_drop.groupby('Country/Region').sum()
confirmed_drop_grouped.head(2)

                1/22/20  1/23/20  1/24/20  ...  3/14/20  3/15/20  3/16/20
Country/Region                             ...
Afghanistan           0        0        0  ...       11       16       21
Albania               0        0        0  ...       38       42       51

[2 rows x 55 columns]

In [107]:
# Transposing dataframes, use date as index

confirmed_drop_grouped_trans= confirmed_drop_grouped.T
death_drop_grouped_trans= death_drop_grouped.T
recovered_drop_grouped_trans= recovered_drop_grouped.T

confirmed_drop_grouped_trans.shape

(55, 156)

In [0]:
# Converting date from str to datetime

confirmed_drop_grouped_trans.index= pd.to_datetime(confirmed_drop_grouped_trans.index)
death_drop_grouped_trans.index= pd.to_datetime(death_drop_grouped_trans.index)
recovered_drop_grouped_trans.index= pd.to_datetime(recovered_drop_grouped_trans.index)

In [81]:
confirmed_drop_grouped_trans.tail()

Country/Region  Afghanistan  Albania  ...  Vietnam  occupied Palestinian territory
2020-03-12                7       23  ...       39                               0
2020-03-13                7       33  ...       47                               0
2020-03-14               11       38  ...       53                               0
2020-03-15               16       42  ...       56                               0
2020-03-16               21       51  ...       61                               0

[5 rows x 156 columns]

In [0]:
# index the last date:

last_row_confirmed = pd.DataFrame(confirmed_drop_grouped_trans.loc[datetime(2020, 3, 16)])
last_row_death = pd.DataFrame(death_drop_grouped_trans.loc[datetime(2020, 3, 16)])
last_row_recovered = pd.DataFrame(recovered_drop_grouped_trans.loc[datetime(2020, 3, 16)])

In [83]:
last_row_confirmed['2020-03-16'].sort_values(ascending= False).head(10)

Country/Region
China             81033
Italy             27980
Iran              14991
Spain              9942
Korea, South       8236
Germany            7272
France             6650
US                 4632
Switzerland        2200
United Kingdom     1551
Name: 2020-03-16 00:00:00, dtype: int64

In [84]:
last_row_death.head(10)

                     2020-03-16
Country/Region
Afghanistan                   0
Albania                       1
Algeria                       4
Andorra                       0
Antigua and Barbuda           0
Argentina                     2
Armenia                       0
Aruba                         0
Australia                     3
Austria                       3

In [110]:
last_row_confirmed=last_row_confirmed.reset_index()
last_row_death=last_row_death.reset_index()
last_row_recovered=last_row_recovered.reset_index()
last_row_confirmed

                     Country/Region  2020-03-16 00:00:00
0                       Afghanistan                   21
1                           Albania                   51
2                           Algeria                   54
3                           Andorra                    2
4               Antigua and Barbuda                    1
..                              ...                  ...
151                         Uruguay                    8
152                      Uzbekistan                    6
153                       Venezuela                   17
154                         Vietnam                   61
155  occupied Palestinian territory                    0

[156 rows x 2 columns]

In [0]:
last_row_confirmed.columns=['Country/Region', 'Confirmed']
last_row_death.columns=['Country/Region', 'Death']
last_row_recovered.columns=['Country/Region', 'Recovered']

In [118]:
# Merging last counts

frame=[last_row_confirmed, last_row_death, last_row_recovered]
last_row_grouped= pd.merge(last_row_confirmed, last_row_death, how='outer', on= 'Country/Region')
last_row_grouped= pd.merge(last_row_grouped, last_row_recovered, how='outer', on= 'Country/Region')
last_row_grouped

                     Country/Region  Confirmed  Death  Recovered
0                       Afghanistan         21      0          1
1                           Albania         51      1          0
2                           Algeria         54      4         12
3                           Andorra          2      0          1
4               Antigua and Barbuda          1      0          0
..                              ...        ...    ...        ...
151                         Uruguay          8      0          0
152                      Uzbekistan          6      0          0
153                       Venezuela         17      0          0
154                         Vietnam         61      0         16
155  occupied Palestinian territory          0      0          0

[156 rows x 4 columns]

In [123]:
# Reshaping local_df to a tidy data

last_row_grouped_tidy = pd.melt(last_row_grouped,
                       ["Country/Region"],
                       var_name="Case Type",
                       value_name="Freq")
last_row_grouped_tidy = last_row_grouped_tidy.sort_values(by=["Country/Region"])
last_row_grouped_tidy.head(10)

    Country/Region  Case Type  Freq
0      Afghanistan  Confirmed    21
312    Afghanistan  Recovered     1
156    Afghanistan      Death     0
1          Albania  Confirmed    51
313        Albania  Recovered     0
157        Albania      Death     1
2          Algeria  Confirmed    54
314        Algeria  Recovered    12
158        Algeria      Death     4
3          Andorra  Confirmed     2

In [129]:
import altair as alt

base = alt.Chart(last_row_grouped_tidy).properties(width=1500)

line = base.mark_square().encode(
    x='Country/Region',
    y='Freq',
    color='Case Type'
)



line

alt.Chart(...)